.body, p {
    margin: 0;
    padding: 0;
    border: 0;
}

.header-image {
    height: 50px;
}

.boardSquare {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: -3px;
    margin-bottom: -3px;
    background-size: cover;
}

.tutorial-bubble {
    position: absolute;
    right: 150px;
    top: 50px;
    width: 150px;
    height: 60px;
    border: 2px black solid;
}

.tutorial-bubble:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 8px;
    width: 0;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent black;
}


.userButton {
    position: relative;
    top: 0;
    left: 0;
    height: 145px;
    width: 145px;
    border: 2px solid black;
    background-size: cover;
}

.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
}

.gray-background {
    background-color: lightgray;
}

@media screen and (max-width: 768px){
    .boardSquare {
        height: 10px;
        width: 10px;
    }

    .userButton {
        height:60px;
        width: 60px;
    }

}