.body, p {
    margin: 0;
    padding: 0;
    border: 0;
}

.header-image {
    height: 50px;
}

.boardSquare {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: -3px;
    margin-bottom: -3px;
    background-size: cover;
}

.userButton {
    height: 145px;
    width: 145px;
    border: 2px solid black;
    background-size: cover;
}

.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
}

@media screen and (max-width: 768px){
    .boardSquare {
        height: 10px;
        width: 10px;
    }

    .userButton {
        height:60px;
        width: 60px;
    }

}