.body, p {
    margin: 0;
    padding: 0;
    border: 0;
}

.header-image {
    height: 50px;
}

.boardSquare {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: -3px;
    margin-bottom: -3px;
    background-size: cover;
}

.boardSquare:hover {
    border: 1px white solid;
    opacity: 0.5;
}


.tutorial-bubble {
    position: absolute;
    background-color: lightgrey;
    /*right and top are set dynamically dependent on the square that they are referencing */
    width: 250px;
    height: 95px;
    border: 2px black solid;
    white-space: pre-line;
    z-index: 1; /*need to make sure it always stays on top */
}

/* the way this works is that the corner of the borders
gets equally divided between its two edges
so we can abuse this to create triangles
*/
.right:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 8px;
    width: 0;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent black; /*top and bottom border are transparent, left and right are black*/
}


.userButton {
    position: relative;
    top: 0;
    left: 0;
    height: 145px;
    width: 145px;
    border: 2px solid black;
    background-size: cover;
}

.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
}

.gray-background {
    background-color: lightgray;
}

.main-instructions-container {
    display: none;
    background-color: #5bc0de;
    height: 200px;
    width: 400px;
}

.relative {
    position: relative;
    top: 0;
    left: 0;
}

.center-align {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 768px){
    .boardSquare {
        height: 10px;
        width: 10px;
    }

    .userButton {
        height:60px;
        width: 60px;
    }

}