.body, p {
    margin: 0;
    padding: 0;
    border: 0;
}

.boardSquare {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    margin-bottom: -2px;
    background-size: cover;
}